<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>Konan Web Crawler</title>

<!-- Custom fonts for this template-->
  <link th:href="@{/static/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link th:href="@{/static/css/sb-admin-2.css}" rel="stylesheet">
  
  <link th:href="@{/static/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">

</head>
<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
<th:block th:insert="comm/left :: left"> </th:block>
<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">
	<section layout:fragment="content"></section>
	<th:block th:insert="comm/footer :: footer"> </th:block>
</div>
</div>

<!------------------------------------ 공통 컨텐츠 --------------------------------------->
     

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal -->
  <div class="modal fade" id="agencyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle">기관 등록</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="agencyForm" id="agencyForm" th:action="@{/agency/insert}" method="POST">
		<div class="form-group">
			<label for="agencyCode">기관 코드</label>
			<input type="text" class="form-control" id="agencyCode" name="agencyCode">
			<small id="agencyHelp" class="form-text text-muted">미입력 시 자동으로 발급됩니다.</small>
		</div>
		<div class="form-group">
			<label for="agencyName">기관명</label>
			<input type="text" class="form-control" id="agencyName" name="agencyName" required>
		</div>
		<div class="form-group form-check">
			<input type="checkbox" class="form-check-input" id="agencyUseYn" name="agencyUseYn" value="Y" checked>
			<label class="form-check-label" for="agencyUseYn">사용 여부</label>
		</div>
		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="formSubmit('agencyForm')" data-dismiss="modal">Save</button>
      </div>
    </div>
    </div>
  </div>
  <!-----------------------------------스케줄용 모달------------------------------------------->
  <div th:if="${menuNo == '2'}" class="modal fade" id="scheduleModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel2" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="schduleTitle">스케줄 등록</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="schduleRegForm" id="schduleRegForm" th:action="@{/simulator/schedule/save}" method="POST">
        	<div class="form-row form-group">
				<div class="col">
					<label>수집 그룹명(코드)</label>
					<select class="form-control" name="grp" onchange="groupSelect(this)">
						<option value="">선택</option>
					  <option th:each="gObj:${groupList}" th:value="${gObj.pk}" th:text="${gObj.name}+'('+${gObj.code}+')'"></option>
					</select>
				</div>
				<div class="col">
					<label for="selectSite">수집 사이트명</label>
					<select class="form-control" id="selectSite" name="site" onchange="siteSelect(this)">
					  <option value="">선택</option>
					</select>
				</div>
				<div class="col">
					<label for="selectCollector">수집원</label>
					<select class="form-control" id="selectCollector" name="collector" >
					  <option value="">선택</option>
					</select>
				</div>
			</div>
			<div class="form-row form-group">
				<div class="col">
					<label>수집 범위 타입</label>
					<select class="form-control" name="cType" onchange="changeType(this)">
						<option value="">선택</option>
						<option value="P">페이지</option>
						<option value="Y">연도</option>
					</select>
				</div>
				<div class="col-3">
					<label for="selectStart">시작점</label>
					<select class="form-control" id="selectStart" name="start" >
					  <option value="">선택</option>
					</select>
				</div>
				<div class="col-3">
					<label for="selectEnd">종료점</label>
					<select class="form-control" id="selectEnd" name="end">
					  <option value="">선택</option>
					</select>
				</div>
			</div>
<!-- 			<div class="form-row form-group">
				<div class="col">
					<label>반복 주기</label>
					<select class="form-control" name="rptType" onchange="rptType(this)">
						<option value="">선택</option>
						<option value="D">매일</option>
						<option value="W">매주</option>
						<option value="M">매달</option>
					</select>
				</div>
				<div class="col">
					<label for="month">매달</label>
					<input type="text" class="form-control" name="month" value="*">
				</div>
				<div class="col">
					<label for="week">매주</label>
					<input type="text" class="form-control" name="week" value="*">
				</div>
			</div>
			<div class="form-row form-group">
				<div class="col">
					<select class="form-control" id="selectHH" name="HH">
					  <option value="">시간 선택</option>
					  <th:block th:each="num: ${#numbers.sequence(0,23)}">
					  	<option th:value="${#numbers.formatInteger(num,2)}" th:text="${#numbers.formatInteger(num,2)}">
					  </th:block>
					</select>
				</div>
				<div class="col">
					<select class="form-control" id="selectmm" name="mm">
					  <option value="">분</option>
					  <option value="00">00</option>
					  <option value="30">30</option>
					</select>
				</div>
			</div> -->
			<div class="form-row form-group">
				<div class="col">
					<label for="week">주기 설정 (cron)</label>
					<input type="text" class="form-control" name="cycleCron" value="* * * * * *">
					<small id="cronHelp" class="form-text text-muted">ex) 매일 저녁 6시 : 0 0 18 * * ?</small>
				</div>
			</div>
			<div class="form-group form-check">
				<input type="checkbox" class="form-check-input" id="schUseyn" name="useyn" value="Y" checked>
				<label class="form-check-label" for="schUseyn">사용 여부</label>
			</div>
		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="formSubmit('schduleRegForm')" data-dismiss="modal">Save</button>
      </div>
    </div>
    </div>
  </div>

<!------------------------------------------------------------------------------->

<!-- Bootstrap core JavaScript-->
<script th:src="@{/static/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/static/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/static/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/static/js/sb-admin-2.js}"></script>

<script th:src="@{/static/vendor/datatables/jquery.dataTables.js}"></script>
<script th:src="@{/static/vendor/datatables/dataTables.bootstrap4.js}"></script>
<script th:src="@{/static/js/demo/datatables-demo.js}"></script>
<script th:src="@{/static/js/sockjs.min.js}" type="text/javascript"></script>

<script th:inline="javascript">
    var _menuNo = Number([[${menuNo}]]);
    var _agencyNo = [[${agencyNo}]];
    $(document).ready(function(){
    	$("#accordionSidebar > li:eq("+(2+_menuNo)+")").addClass("active");
    });
</script>
 <script th:src="@{/static/js/common.js}"></script>
 <script th:if="${menuNo == '1'}" th:src="@{/static/js/simulator.js}"></script>
 <script th:if="${menuNo == '2'}" th:src="@{/static/js/schedule.js}"></script>
</body>
</html>
