<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout-sml">

      <!-- Main Content -->
      <div id="content" layout:fragment="content" >
		<th:block th:insert="comm/top :: top"> </th:block>
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="row">
	          <div class="col">
	          	<h1 class="h3 mb-2 text-gray-800">수집 스케줄 관리</h1>
	          	<p class="mb-4">예약 수집 기능을 제어합니다. </p>
	          </div>
	          <div class="align-items-center">
	          <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" data-toggle="modal" data-target="#scheduleModal" ><i class="fas fa-save fa-sm text-white-50"></i>등록</a>
	          <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-upload fa-sm text-white-50"></i>업로드</a>
	          <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i>다운로드</a>
	          </div>
          </div>
          
         	<div class="card shadow mb-4" th:each="obj:${groupList}">
               <!-- Card Header - Accordion -->
               <a th:href="'#gorup-'+${obj.pk}" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" th:aria-controls="'gorup-'+${obj.pk}">
                 <h6 class="m-0 font-weight-bold text-primary" th:text="${obj.name}"></h6>
               </a>
               <!-- Card Content - Collapse -->
			<div class="collapse show" th:id="'gorup-'+${obj.pk}">
			<div class="card-body">
				<div class="table-responsive">
                <table class="table table-bordered" id="collectorTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th scope="col-1" >NO</th>
				      <th scope="col-1" >Type</th>
				      <th scope="col" >Comment</th>
                    </tr>
                  </thead>
                  <tbody id="scheduleList">
                    <tr>
						<th>1</th>
						<td>1</td>
						<td>1</td>
					</tr>
				</tbody>
				</table>
				</div>
			</div>
			</div>
		</div>
          

		</div>
      </div>
      <!-- End of Main Content -->


</html>
