<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>Konan Web Crawler</title>

<!-- Custom fonts for this template-->
<link th:href="@{/static/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

<!-- Custom styles for this template-->
<link th:href="@{/static/css/sb-admin-2.css}" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-7 col-lg-11 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col">
                <div class="p-5">
                  <div class="text-center">
                    <div class="text-muted h2">Sample</div>

                    <form id="frm-upload" action="./uploadMultiFile" enctype="multipart/form-data" method="post">
                      <input type="file" name="file">
                      
                      <!-- <input type="file" name="files1"> 
                      <input type="file" name="files2"> 
                      <input type="file" name="files3"> 
                      <input type="file" name="files"> 
                      <input type="file" name="files"> 
                      <input type="file" name="files"> 
                      atchmnflid: <input type="text" name="atchmnflid"> 
                      type: <input type="text" name="type"> 
                      relId: <input type="text" name="relId"> -->
                      <div>
                        <button type="button" class="btn btn-primary btn-form-submit">Form Submit</button>
                        <button type="button" class="btn btn-primary btn-grnl-submit">Form Data Submit</button>
                        <button type="button" class="btn btn-primary btn-fileDown">FileDown</button>
                        <!-- <button type="button" class="btn btn-primary btn-form-submit2">Form Submit2</button>
                        <button type="button" class="btn btn-primary btn-form-submit3">Form Submit3</button>
                        <button type="button" class="btn btn-primary btn-form-submit4">Form Submit4</button>
                        <button type="button" class="btn btn-primary btn-grnl-submit">Form Data Submit</button>
                        <button type="button" class="btn btn-primary btn-ajax-submit">Ajax Submit</button>
                        <button type="button" class="btn btn-primary btn-ajaxform-submit">Ajax Form Submit</button>
    
                        <div id="imgDiv"></div> -->
                      </div>
                    </form>
                  </div>
                  <hr>
                  <div class="text-center">
                    <a class="small" href="javascript:history.back();">Test</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Bootstrap core JavaScript-->
  <script th:src="@{/static/vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{/static/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

  <!-- Core plugin JavaScript-->
  <script th:src="@{/static/vendor/jquery-easing/jquery.easing.min.js}"></script>

  <!-- Custom scripts for all pages-->
  <script th:src="@{/static/js/sb-admin-2.js}"></script>


  <script type="text/javascript">
    $('.btn-form-submit').on('click', function() {
        $('#frm-upload').attr("action","/manage/uploadMultiFile");
        $('#frm-upload').submit();
    });
    
    $('.btn-fileDown').on('click', function() {
    	window.location.assign('/manage/filedown');
    });
    
	$('.btn-grnl-submit').on('click', function() {
        
        var form = $('#frm-upload');
        
        //formdata 생성
        var formData = new FormData(form[0]);
      	console.log(formData);
        $.ajax({
            url : '/manage/uploadMultiFile',
            type : 'POST',
            data : formData,
            processData : false,
            contentType : false,
            beforeSend : function() {
                console.log('jQeury ajax form submit beforeSend');
            },
            success : function(data) {
                console.log('jQeury ajax form submit success');
            }, 
            error : function(data) {
                console.log('jQeury ajax form submit error');
            },
            complete : function() {
                console.log('jQeury ajax form submit complete');
            }
        });//end ajax
    });
	
  
  </script>
  
  
</body>

</html>
