 <html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
 
 <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" th:fragment="top">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">
			<li class="nav-item" th:if="${selAgency != null }">
              <div class="dropdown nav-link">
                 <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span th:text="${selAgency.name}"></span>
                 </button>
                 <div class="dropdown-menu animated--fade-in" aria-labelledby="dropdownMenuButton">
                 <div th:each="obj:${agencyList}" >
                   <a class="dropdown-item" th:if="${selAgency.pk != obj.pk}" th:href="@{/manage(agencyNo=${obj.pk},menuNo=${menuNo},menuNm=${menuNm})}" th:text="${obj.name}"></a>
                 </div>
                 </div>
               </div>
            </li>
			<div class="topbar-divider d-none d-sm-block"></div>
			
            <!-- Nav Item - Alerts -->
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="logMsgBtn" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <!-- Counter - Alerts -->
                <span class="badge badge-danger badge-counter" id="lMsgCnt"></span>
              </a>
              <!-- Dropdown - Alerts -->
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header">
                  LOG MASSAGE
                </h6>
                <div id="logMsg" >
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-primary">
                      <i class="fas fa-file-alt text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-600">[2020-03-27 16:24:44]</div>
                    <span class="font-weight-bold">동구/공지사항 : SUCCESS</span>
                  </div>
                </a>
                </div>
                <a class="dropdown-item text-center small text-gray-600" th:href="@{/simulator/log(agencyNo=${agencyNo})}">Show All Logs</a>
              </div>
            </li>

            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">admin</span>
                <img class="img-profile rounded-circle" th:src="@{/static/img/donggri.gif}">
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
<!--                 <a class="dropdown-item" href="#"> -->
<!--                   <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i> -->
<!--                   Settings -->
<!--                 </a> -->
<!--                 <div class="dropdown-divider"></div> -->
                <a class="dropdown-item" th:href="@{/logout}">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->
        
</html>